<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">About Us</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Welcome to iCET, the Institute of Computer Engineering Technology, where
      we are dedicated to shaping aspiring individuals into skilled software
      engineers, equipping them with the expertise and knowledge needed to excel
      in the dynamic world of software development. Dr. Niroth Samarawickckrama, our esteemed software engineering
      trainer, brings a wealth of knowledge and experience to our institute.
      With a deep passion for software engineering and a commitment to teaching,
      Dr. Samarawickckrama is the driving force behind our success.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        Student Life
      </button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        Our Vision
      </button>
    </div>
  </div>
</div>
