<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">
      Welcome to Trolley Rush
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">
        At <strong>Trolley Rush</strong>, shop a wide variety of groceries, electronics, home essentials, and more — all at unbeatable prices. Experience fast delivery, great deals, and a smooth shopping journey with us!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
        >
          Shop Now
        </button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">
          About Us
        </button>
      </div>
    </div>
  </div>
</div>
